{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger modal-danger-food fade in" id="modal-success-danger" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarısız</h4>
                </div>
                <div class="modal-body successModalD">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-active"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Kullanıcı durumunu değiştirmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-warning fade in deneme223" tabindex="-1" role="dialog" id="modal-mail"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">


                    <h4 class="modal-title">Uyarı</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Kullanıcı giriş bilgilerini göndermek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf12"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close2">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">


        <div class="row">
            <div class="col-lg-12 ">
                <div class="card-body">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kullanıcı Filtrele</h3>
                        </div>
                        <form method="post" role="form">
                            <div class="card-body">
                                {% csrf_token %}
                                <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> {{ user_form.first_name.label }}</label>
                                        {{ user_form.first_name }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> {{ user_form.last_name.label }}</label>
                                        {{ user_form.last_name }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> {{ user_form.email.label }}</label>
                                        {{ user_form.email }}
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Aktiflik Durumu </label>
                                        <select name="is_active" class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%; " id="is_active" tabindex="-1"
                                                aria-hidden="true">
                                            <option value="" selected="">Seçiniz</option>

                                            <option value="False">Pasif</option>

                                            <option value="True">Aktif</option>

                                        </select>


                                    </div>
                                </div>
                                    </div>


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Ara</button>
                            </div>
                        </form>


                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>

        <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kullanıcılar</h3>
                        </div>
                        <div class="card-body">
                            <table id="kullanicilar" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ad Soyad</th>
                                    <th>E-Mail</th>
                                    <th>Grup</th>
                                    <th>Aktiflik Durumu</th>
                                    <th>Güncelle</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if users.all %}
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ user.first_name }} {{ user.last_name }} </td>
                                            <td>{{ user.email }} </td>

                                            <td>

                                                {% for group  in user.groups.all %}

                                                    {{ group.name }}<br>

                                                {% endfor %}

                                            </td>
                                            {% if user.is_active %}
                                                <td>Aktif</td>
                                            {% else %}
                                                <td>Pasif</td>
                                            {% endif %}
                                            <td>
                                                <div class="btn-group">

                                                    <a class="btn btn-success"
                                                       data-toggle="modal" onclick=sendInform({{ user.pk }})><i
                                                            class="fa  fa-arrow-circle-right"></i>Şifre Gönder</a>

                                                    <a class="btn btn-danger"
                                                       data-toggle="modal" onclick=activeUser({{ user.pk }})><i
                                                            class="fa fa-lock"></i>Aktif/Pasifleştir</a>
                                                </div>
                                            </td>

                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#kullanicilar').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: "Ekle Çıkar",
                        titleAttr: 'Ekle Çıkar',
                         title: 'SBS',


                    },
                    {
                        extend: 'print',
                        title: 'SBS',
                        text: "Yazdır",
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: "Pdf",
                         title: 'SBS',
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: "Excel",
                        titleAttr: 'Excel Kaydet',
                         title: 'SBS',
                    },
                    {
                        text: 'Json',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'sbs.json'
                            );
                        }
                    }


                ],
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            })

        })
    </script>

    <script>
        function activeUser(id) {

            console.log(id);
            var html = ''
            $("#modal-active").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "sbs:kullanici-aktifet" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Kullanıcı Durumu Değiştirildi';
                        debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:kullanicilar" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-active').modal('hide');
            });

        }

        function sendInform(id) {
        debugger;
            console.log(id);
            var html = ''
            $("#modal-mail").on("shown.bs.modal", function (e) {
                $("#btn-conf12").click(function () {
                        $.ajax({
                            url: "{% url "sbs:kullanici-bilgi-gonder" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",

                            },
                            success: function (result) {

                                if (result.status == 'Fail') {
                                    html = result.msg;
                                debugger;
                                    $(".successModalD").html(html);
                                    $('#modal-success-danger').on("shown.bs.modal", function (e) {
                                        $(".btn-ok").click(function () {

                                            window.location.replace("{% url "sbs:kullanicilar" %}");

                                        });
                                    }).modal('show');


                                } else {
                                    html = result.msg;
                                debugger;
                                    $(".successModal").html(html);
                                    $('#modal-success').on("shown.bs.modal", function (e) {
                                        $(".btn-ok").click(function () {

                                            window.location.replace("{% url "sbs:kullanicilar" %}");

                                        });
                                    }).modal('show');


                                }


                                console.log(result.status)
                            }
                        });
                    }
                )
                ;
            }).modal('show');
            $('#btn-close2').click(function () {
                $('#modal-mail').modal('hide');
            });

        }

    </script>
{% endblock %}

