{% extends 'base_layout.html' %}
{% block content %}



    <section class="content">

     <section class="content-header">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Anasayfa </h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'sbs:evrak-anasayfa' %}">Arşiv Anasayfa </a></li>
                            {#              <li class="breadcrumb-item active">Advanced Form</li>#}
                        </ol>
                    </div>
                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">

        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ units_count }}</h3>

                <p>Birim Sayısı</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-menu"></i>
              </div>
              <a href="{% url 'sbs:Birim-listesi' %}" class="small-box-footer">Birimler <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ klasor_count }}</h3>

                <p>Klasör Saysısı </p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'sbs:klasor-listesi' %}" class="small-box-footer">Klasörler<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ dosyalar_count }}</h3>

                <p>Dosya Sayısı </p>
              </div>
              <div class="icon">
                <i class="ion ion-android-menu"></i>
              </div>
              <a href="{% url 'sbs:dosya-listesi' %}" class="small-box-footer">Dosyalar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ evrak_count }}</h3>

                <p>Evrak Sayısı </p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'sbs:evrak-ekle-ajax' %}" class="small-box-footer">Hızlı Erişim<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info" >
                        <div class="card-header">
                            <h3 class="card-title">Birim Raporu</h3>

                            <div class="card-tools pull-right">
                                <button type="button" class="btn btn-card-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-card-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="text-center">
                                        <strong>Birim Evrak Sayısı</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart2" style="height: 320px; width: 816px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    {#                                    <p class="text-center">#}
                                    {#                                        <strong>{{ lastcompetition.name }}</strong>#}
                                    {#                                    </p>#}

                                    <div class="progress-group">
                                        <span class="progress-text">{{ data.0.birim }}</span>
                                        <span class="progress-number"><b>{{ data.0.sayi }}</b>/{{ data.0.sayi }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-aqua"
                                                 style="width: {{ oran.0.oran }}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">{{ data.1.birim }}</span>
                                        <span class="progress-number"><b>{{ data.1.sayi }}</b>/{{ data.0.sayi }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-red"
                                                 style="width: {{ oran.1.oran }}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">{{ data.2.birim }}</span>
                                        <span class="progress-number"><b>{{ data.2.sayi }}</b>/{{ data.0.sayi }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-green"
                                                 style="width: {{ oran.2.oran }}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->

                                </div>


                                <!-- /.col -->
                            </div>

                            <!-- /.row -->
                            <div class="row">

                                {% for item in data %}

                                    <div class="col-sm-2 col-xs-6">
                                        <div class="description-block border-right">
                                            {#                                            <span class="description-percentage text-green">{{ item }}</span>#}
                                            <h5 class="description-header">{{ item.birim }}</h5>
                                            <span class="description-text">({{ item.sayi }})</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                {% endfor %}
                                <!-- /.col -->

                            </div>
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>


            <!-- /.row -->

            <!-- Main row -->


            {#                <div class="card card-danger">#}
            {#                    <div class="card-header with-border">#}
            {#                        <h3 class="card-title">Son Eklenen Sporcular</h3>#}
            {##}
            {#                        <div class="card-tools pull-right">#}
            {##}
            {#                            <button type="button" class="btn btn-card-tool" data-widget="collapse"><i#}
            {#                                    class="fa fa-minus"></i>#}
            {#                            </button>#}
            {#                            <button type="button" class="btn btn-card-tool" data-widget="remove"><i#}
            {#                                    class="fa fa-times"></i>#}
            {#                            </button>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <!-- /.card-header -->#}
            {#                    <div class="card-body no-padding">#}
            {#                        <ul class="users-list clearfix">#}
            {#                            {% for athlete in last_athletes %}#}
            {#                                <li>#}
            {#                                <img src="/media/{{ athlete.person.profileImage }}" style="width: 100px;height: 100px"#}
            {#                                     alt="User Image">#}
            {#                                <a href="{% url "sbs:update-athletes" athlete.pk %}"#}
            {#                                   class="users-list-name">{{ athlete.user.first_name }} {{ athlete.user.last_name }}#}
            {#                                    ({{ athlete.licenses.last.sportsClub }}) </a>#}
            {#                                <a class="users-list-name">({{ athlete.licenses.last.sportsClub }}) </a>#}
            {#                                          <span class="product-description">     #}
            {#                                              </span>#}
            {##}
            {##}
            {#                            {% endfor %}#}
            {##}
            {##}
            {#                            </li>#}
            {##}
            {#                        </ul>#}
            {#                        <!-- /.users-list -->#}
            {#                    </div>#}
            {#                    <!-- /.card-body -->#}
            {#                    <div class="card-footer text-center">#}
            {#                        <a href="{% url "sbs:sporcular" %}" class="uppercase">Tüm Sporculari Görüntüleyin</a>#}
            {#                    </div>#}
            {#                    <!-- /.card-footer -->#}
            {#                </div>#}


        </section>
    </section>



    <script>



        var barChartData = {
            labels: [{% for item in data %}"{{ item.birim }}",{% endfor %}],
                datasets:[{
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [{% for item in data %}"{{ item.sayi }}",{% endfor %}]
            }]

        }


        $(function () {

            var ctx = document.getElementById("salesChart2").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true,

            });
        });

    </script>




{% endblock %}