{% extends 'base_layout.html' %}
{% block content %}


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}




    <section class="content">
        <section class="content-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Birim Güncelle </h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <button href="{% url "sbs:arsiv-birimEkle" %}"
                    type="button" class="btn btn-success"><i
                                class="fa fa-file"></i> Yeni Birim Ekle
                        </button>
                    </li>
                    <li class="breadcrumb-item">
                        <button id="birimdelete"
                                       type="button" class="btn btn-danger"><i
                                            class="fa fa-trash"></i> Birimi Sil
                        </button>
                    </li>

                </ol>
            </div>
        </div>
    </section>



        <form method="post" role="form">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-primary">

                        <div class="card-body">
                            <div class="col-lg-12">


                                <div class="form-group">
                                    <label> {{ category_item_form.name.label }}</label>
                                    {{ category_item_form.name }}
                                </div>



                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Parametreler</h3>
                        </div>
                                        <div class="card-header with-border">
                            <div class="btn-group">
{#                                {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}#}
                                    <a href="{% url "sbs:Birim-parametreAdd" birim.pk %}"
                                       type="button" class="btn btn-success"><i
                                            class="fa fa-edit"></i> Yeni Parametre Ekle
                                    </a>
{#                                {% endif %}#}
                            </div>

                        </div>
                        <div class="card-body">
                            <table id="kategori" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tanımı</th>
                                                <th>Tipi</th>
                                    <th>İnceleme/Silme</th>

                                </tr>
                                </thead>
                                <tbody>


                                {% if categoryitem.all %}
                                    {% for category in categoryitem %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>

                                            <td>{{ category.title }}</td>
                                            <td>{% if category.type == "string" %}
                                                Metin
                                                {% elif category.type == "date" %}
                                                Tarih
                                                {% elif category.type == "number" %}
                                                Sayı
                                                {% elif category.type == "year" %}
                                                Yıl
                                                {%endif%}
                                            </td>

                                            <td>
                                                <div class="btn-group">
                                                    <a href="{% url "sbs:Birim-parametreGuncelle" category.pk %}"
                                                       type="button" class="btn btn-warning"><i
                                                            class="fa fa-edit"></i>İncele
                                                    </a>

                                                    <a class="btn btn-danger"
                                                       data-toggle="modal"
                                                       onclick=deleteCategoryItem({{ category.pk }})><i
                                                            class="fa fa-trash"></i>Sil</a>
                                                </div>
                                            </td>

                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


         <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Klasörler</h3>
                        </div>
                    <div class="card-header with-border">
                            <div class="btn-group">
{#                                {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}#}
                                <a href="{% url "sbs:klasor-ekle" %}?birim={{ birim.pk }}"
                                   type="button" class="btn btn-success"><i
                                        class="fa fa-file"></i> Yeni Klasör Ekle
                                    </a>
{#                                {% endif %}#}
                            </div>

                        </div>
                        <div class="card-body">
                            <table id="kullanicilar" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tanımı</th>
                                    <th>Sıra Numarasi</th>
                                    <th>Konumu</th>
                                    <th>Birim</th>
                                    <th>Başlangıç Yılı </th>
                                    <th>Bitiş Yılı </th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>

                                {% if klasor %}
                                    {% for item in klasor %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ item.name}} </td>
                                             <td>{{ item.sirano}} </td>
                                             <td>{{ item.location}} </td>
                                             <td>{{ item.birim}} </td>
                                            <td>{{ item.startyear}} </td>
                                             <td>{{ item.finishyear}} </td>


                                        <td>
                                             <a href="{% url "sbs:klasor-guncelle"  item.pk%}"
                                       type="button" class="btn btn-success"><i
                                            class="fa fa-edit"></i> İncele
                                    </a>
                                        </td>

                                            {#                                            <td>#}
                                            {#                                                <div class="btn-group">#}
                                            {##}
                                            {#                                                    <a class="btn btn-success"#}
                                            {#                                                       data-toggle="modal" onclick=sendInform({{ user.pk }})><i#}
                                            {#                                                            class="fa  fa-arrow-circle-right"></i>Şifre Gönder</a>#}
                                            {##}
                                            {#                                                    <a class="btn btn-danger"#}
                                            {#                                                       data-toggle="modal" onclick=activeUser({{ user.pk }})><i#}
                                            {#                                                            class="fa fa-lock"></i>Aktif/Pasifleştir</a>#}
                                            {#                                                </div>#}
                                            {#                                            </td>#}

                                        </tr>

                                    {% endfor %}
                                {% endif %}



                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>

        </form>
    </section>
    <script>
        $(function () {
            $('#kullanicilar').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: "Ekle Çıkar",
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: "Yazdır",

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: "Pdf",

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: "Excel",
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: 'Json',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }


                ],
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            });

            $('#kategori').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: "Ekle Çıkar",
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: "Yazdır",

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: "Pdf",

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: "Excel",
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: 'Json',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }


                ],
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            });

        });

        function deleteCategoryItem(id) {
            var html = ''
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "sbs:Birim-parametre-delete" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:arsiv-birimEkle" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }

        $("#birimdelete").click(function (e) {
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "{% url "sbs:Birim-delete" birim.pk %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Birim  Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:Birim-listesi"%}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        });
    </script>






{% endblock %}