{% extends 'base_layout.html' %}
{% block content %}


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}








    <section class="content">
        <section class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3> Dosya Güncelle </h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">


                        {% if  back != 0 %}
                            <li class="breadcrumb-item">
                            <a href="{% url "sbs:dosya-guncelle" back %}"
                               type="button" class="btn btn-warning"> Geri</a>
                        </li>
                        {% endif %}{% if forward != 0 %}
                        <li class="breadcrumb-item">
                            <a href="{% url "sbs:dosya-guncelle" forward%}"
                               type="button" class="btn btn-warning"> İleri</a>
                        </li>
                        {% endif %}


                        <li class="breadcrumb-item">
                            <a href="{% url "sbs:dosya-ekle" dosya.klasor.pk %}"
                               type="button" class="btn btn-success"><i
                                    class="fa fa-file"></i> Yeni Dosya Ekle</a>
                        </li>
                        <li class="breadcrumb-item">
                            <button id="dosyadelete"
                                    type="button" class="btn btn-danger"><i
                                    class="fa fa-trash"></i> Dosyayı Sil
                            </button>
                        </li>

                    </ol>
                </div>
            </div>
        </section>


        <div class="row">

            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    {#                <div class="card-header with-border">#}
                    {#                    <h3 class="card-title"> Dosya Evrak Ekle </h3>#}
                    {#                </div>#}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Birim</label>
                                    <a href="{% url 'sbs:arsiv-birimUpdate' dosya.klasor.birim.pk %}">

                                        <div class="input-group margin">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-warning"><i
                                                        class="fa fa-align-left"></i></button>
                                            </div>
                                            <!-- /btn-group -->
                                            <input type="text" class="form-control"
                                                   value="{{ dosya.klasor.birim }}" disabled>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Klasör</label>
                                    <a href="{% url 'sbs:klasor-guncelle' dosya.klasor.pk %}">
                                        <div class="input-group margin">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-warning"><i
                                                        class="fa fa-align-left"></i></button>
                                            </div>
                                            <!-- /btn-group -->
                                            <input type="text" class="form-control" value="{{ dosya.klasor }}"
                                                   disabled>
                                        </div>

                                    </a>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Konum</label>
                                    <a href="{% url 'sbs:arsiv-konumUpdate' dosya.klasor.location.pk %}">
                                        <div class="input-group margin">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-warning"><i
                                                        class="fa fa-align-left"></i></button>
                                            </div>
                                            <!-- /btn-group -->
                                            <input type="text" class="form-control" value="{{ dosya.klasor.location }}"
                                                   disabled>
                                        </div>

                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Evrak Ekle </h3>
                    </div>
                    <div class="card-body">

                        <div id="dropzone">
                            <form action="{% url 'sbs:dosya-guncelle' dosya.pk %}"
                                  class="dropzone needsclick dz-clickable"
                                  id="pdf">


                                {% csrf_token %}

                                <div class="dz-message needsclick">
                                    <button type="button" class="dz-button">Dosyalari buraya bırakın veya yüklemek
                                        için tıklayın.
                                    </button>


                                </div>

                            </form>

                        </div>
                    </div>
                </div>


            </div>
        </div>


        <form method="post" role="form">
            {% csrf_token %}


            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Parametreler </h3>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">
                                {{ form }}
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary ">Güncelle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 ">

                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Evraklar</h3>
                        </div>

                        <div class="card-body">

                            <div class="btn-group">


                                <button type="button" class="btn btn-adn" id="btnleft">
                                    <span class="fa fa-angle-left"></span>
                                </button>
                                <button type="button" class="btn btn-adn" id="btnright">
                                    <span class="fa fa-angle-right"></span>
                                </button>
                                <button type="button" class="btn btn-adn" id="btndownload">
                                    <span class="fa fa-download"></span>
                                </button>
                                <button type="button" class="btn btn-adn" id="btndelete">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                            <div class="pull-right">
                                <b><span id="valueone"></span><span id="sum"></span></b>

                            </div>


                        </div>


                        <div class="card-body">

                            {% if evraklist %}
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" id="idpdf" src="/TaekwondoArsiv/media/{{ evraklist |first }}"
                                            allowfullscreen></iframe>
                                </div>
                            {% endif %}
                            <!-- /.card -->
                        </div>


                    </div>
                    <!-- /.card -->


                </div>

            </div>


            </div>

        </form>
    </section>
    <script>
        var dizi = new Array();
        say = 0;
        $(function () {


            {% for item in evraklist %}
                deger = {
                    'id':{{ item.pk }},
                    'title': "{{ item.file }}"
                }
                dizi.push(deger);
                console.log({{ item.pk }});

            {% endfor %}
            degeral(0);
            console.log('bendem selam olsun');

            console.log(dizi.length);
            if (dizi.length != 0) {
                $("#sum").text("/" + dizi.length);
                $("#valueone").text(say + 1);
            }

        });
        $("#btnright").click(function () {
            degeral(1);

        });
        $("#btnleft").click(function () {
            degeral(-1);
        });

        function degeral(a) {
            if (say + a >= 0 && say + a < dizi.length) {
                say += a;
                $("#idpdf").attr("src", "/TaekwondoArsiv/media/" + dizi[say].title);
            }
            if (dizi.length != 0) {
                $("#valueone").text(say + 1);
            }
        }

        $("#btndownload").click(function (e) {
            e.preventDefault();
            window.location.href = '/TaekwondoArsiv/media/' + dizi[say].title;

        });

        $("#btndelete").click(function (e) {
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "{% url "sbs:evrak-sil-ajax" pk=212121223232323232 %}".replace(/212121223232323232/, dizi[say].id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Evrak  Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:dosya-guncelle" dosya.pk %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        });


        $("#dosyadelete").click(function (e) {
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "{% url "sbs:dosya-delete" dosya.pk %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Dosya  Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:dosya-listesi"%}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        });
    </script>

{% endblock %}