{% extends 'base_layout.html' %}
{% block content %}


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}

    <section class="content">


        <section class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Klasör Güncelle </h3>
                </div>
                <div class="col-sm-6">

                    <ol class="breadcrumb float-sm-right">
                        {% if  back != 0 %}
                            <li class="breadcrumb-item">
                                <a href="{% url "sbs:klasor-guncelle" back %}"
                                   type="button" class="btn btn-warning"> Geri</a>
                            </li>
                        {% endif %}{% if forward != 0 %}
                        <li class="breadcrumb-item">
                            <a href="{% url "sbs:klasor-guncelle" forward %}"
                               type="button" class="btn btn-warning"> İleri</a>
                        </li>
                    {% endif %}
                        <li class="breadcrumb-item"><a href="{% url "sbs:klasor-ekle" %}?birim={{ klasor.birim.pk }}"
                                                       type="button" class="btn btn-success"><i
                                class="fa fa-file"></i>Yeni Klasör Ekle
                        </a></li>
                        <li class="breadcrumb-item">
                            <button id="klasordelete"
                                    type="button" class="btn btn-danger"><i
                                    class="fa fa-trash"></i> Klasörü Sil
                            </button>
                        </li>

                    </ol>
                </div>
            </div>
        </section>


        <form method="post" role="form">
            {% csrf_token %}

            <div class="row">
                <div class="card-body">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Klasör Güncelle </h3>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">


                                {{ form }}


                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <section class="col-lg-12 ">
                    <div class="card-body">
                        <div class="card card-primary card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title">Dosyalar</h3>
                            </div>
                            <div class="card-header with-border">
                                <div class="btn-group">
                                    {#                                {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}#}
                                    <a href="{% url "sbs:dosya-ekle" klasor.pk %}"
                                       type="button" class="btn btn-success"><i
                                            class="fa fa-edit"></i> Yeni Dosya Ekle
                                    </a>
                                    {#                                {% endif %}#}
                                </div>

                            </div>
                            <div class="card-body">
                                <table id="dosyaTable" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sırano</th>
                                        <th>İşlemler</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if dosya %}
                                        {% for item in dosya %}
                                            <tr>
                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ item.sirano }} </td>

                                                <td>
                                                    <a href="{% url "sbs:dosya-guncelle"  item.pk %}"
                                                       type="button" class="btn btn-warning"><i
                                                            class="fa fa-edit"></i> İncele
                                                    </a>

                                                    <button onclick="dosyadelete({{ item.pk }})"
                                                            type="button" class="btn btn-danger"><i
                                                            class="fa fa-trash"></i> Sil
                                                    </button>
                                                </td>

                                                {#                                            <td>#}
                                                {#                                                <div class="btn-group">#}
                                                {##}
                                                {#                                                    <a class="btn btn-success"#}
                                                {#                                                       data-toggle="modal" onclick=sendInform({{ user.pk }})><i#}
                                                {#                                                            class="fa  fa-arrow-circle-right"></i>Şifre Gönder</a>#}
                                                {##}
                                                {#                                                    <a class="btn btn-danger"#}
                                                {#                                                       data-toggle="modal" onclick=activeUser({{ user.pk }})><i#}
                                                {#                                                            class="fa fa-lock"></i>Aktif/Pasifleştir</a>#}
                                                {#                                                </div>#}
                                                {#                                            </td>#}

                                            </tr>

                                        {% endfor %}
                                    {% endif %}


                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- /.card -->


                    </div>
                </section>


            </div>

        </form>
    </section>


    <script>
        $(function () {
            $('#dosyaTable').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': false,
                'autoWidth': true
            })

        })

        function dosyadelete(id) {


            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({

                        url: "{% url "sbs:dosya-delete" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Dosya  Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:klasor-guncelle" klasor.pk%}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }

        $("#klasordelete").click(function (e) {
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "{% url "sbs:klasor-delete" klasor.pk %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Klasör  Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:klasor-listesi"%}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        });
    </script>


{% endblock %}