{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{ aktif }}-
                            Sporcu Listesi </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Sporcu Listesi </a></li>
                            {#              <li class="breadcrumb-item active">Advanced Form</li>#}
                        </ol>
                    </div>
                </div>
            </div>

        </section>


        <div class="row">
            <section class="col-lg-12 ">
                <div class="card ">
                    <div class="card-header with-border">
                        <h3 class="card-title">Sporcu Filtrele</h3>
                    </div>
                    <form method="post" role="form">

                        <div class="card-body">
                            {% csrf_token %}


                            <div class="row">


                                <div class="col-lg-2">

                                    <label> {{ user_form.first_name.label }}</label>
                                    {{ user_form.first_name }}

                                </div>
                                <div class="col-lg-2">

                                    <label> {{ user_form.last_name.label }}</label>
                                    {{ user_form.last_name }}

                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label> T.C.</label>
                                        <input type="text" name="tc" class="form-control " placeholder="T.C."
                                               onkeypress="validate(event)"
                                               onkeyup="if(this.value.length >11){this.value=this.value.substr(0, 11);}"
                                               placeholder="" maxlength="11" id="id_tc">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label> {{ user_form.email.label }}</label>
                                        {{ user_form.email }}
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label> {{ Sportclup.sportsClub.label }}</label>
                                        {{ Sportclup.sportsClub }}
                                    </div>
                                </div>



                                {% if aktif == 'Admin' %}

                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label> {{ Sportclup.coach.label }}</label>
                                            {{ Sportclup.coach }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Ara</button>
                        </div>
                    </form>
                </div>

            </section>



        </div>


        <div class="row">

            <section class="col-md-12 ">


                <div class="col-lg-12">


                    <div class="card ">
                        <div class="card-header with-border">
                            <h3 class="card-title">Sporcular</h3>
                        </div>
                        <div class="card-header with-border">
                            <div class="btn-group">
                                <a href="{% url "sbs:sporcu-ekle" %}"
                                   type="button" class="btn btn-success"><i
                                        class="fa fa-edit"></i> Yeni Sporcu Ekle
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="sporcular" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Ad Soyad</th>
                                    <th>Kulüp</th>
                                    <th>İşlemler</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% if athletes.all %}
                                    {% for athlete in athletes %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ athlete.user.first_name }} {{ athlete.user.last_name }} </td>

                                            <td>
                                                {% for license in athlete.licenses.all %}
                                                    {% if  license.status == 'Onaylandı' %}
                                                        <p>{{ license.sportsClub }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>


                                            {% comment %}<td>
                                                {% for belts in athlete.belts.all %}
                                                    {% if  belts.status == 'Onaylandı' %}
                                                        <p>{{ belts.definition }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>{% endcomment %}

                                            <td>
                                                <div class="btn-group">
                                                    <a href="{% url "sbs:update-athletes" athlete.pk %}"
                                                       type="button" class="btn btn-warning"><i
                                                            class="fa fa-edit"></i>İncele
                                                    </a>

                                                    {#                                                    {% if aktif == 'Admin' %}#}
                                                    {##}
                                                    {#                                                        <a href="{% url "sbs:sporcu-birlestir" athlete.pk %}"#}
                                                    {#                                                           type="button" class="btn btn-success"><i#}
                                                    {#                                                                class="fa fa-edit"></i>Birleştir#}
                                                    {#                                                        </a>#}
                                                    {##}
                                                    {#                                                    {% endif %}#}
                                                    {#                                                    <a href="{% url "sbs:sporcu-lisans-ekle" athlete.pk %}"#}
                                                    {#                                                       type="button" class="btn btn-secondary btn-success">Lisans#}
                                                    {#                                                        Ekle#}
                                                    {#                                                    </a>#}


                                                </div>
                                            </td>

                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#sporcular').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: "Ekle Çıkar",
                        titleAttr: 'Ekle Çıkar',
                         title: 'SBS',


                    },
                    {
                        extend: 'print',
                        title: 'SBS',
                        text: "Yazdır",
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: "Pdf",
                         title: 'SBS',
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: "Excel",
                        titleAttr: 'Excel Kaydet',
                         title: 'SBS',
                    },
                    {
                        text: 'Json',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'sbs.json'
                            );
                        }
                    }


                ],
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,


            });

        });


    </script>







{% endblock %}

