{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Beklemede olanlari degiştirmek istediginizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">

        {#            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}#}
        <div class="row">
            <section class="col-lg-12 ">


                <div class="card-body">


                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kuşak Filtrele</h3>
                        </div>
                        <form method="post" role="form">

                            <div class="card-body">
                                {% csrf_token %}
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> Ad</label>
                                        <input type="text" name="first_name" class="form-control " value=""
                                               maxlength="30" id="id_first_name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> Soyad</label>
                                        <input type="text" name="last_name" class="form-control "
                                               maxlength="150" id="id_last_name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> Email</label>
                                        <input type="text" name="email" class="form-control "
                                               maxlength="254" id="id_email">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> {{ Sportclup.sportsClub.label }}</label>
                                        {{ Sportclup.sportsClub }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> {{ Sportclup.branch.label }}</label>
                                        {{ Sportclup.branch }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Onay durumu </label>
                                        <select name="status" class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" id="id_status" tabindex="-1"
                                                aria-hidden="true">
                                            <option value="" selected="">---------</option>

                                            <option value="Beklemede">Beklemede</option>
                                            <option value="Onaylandı">Onaylandı</option>
                                            <option value="Reddedildi">Reddedildi</option>


                                        </select>
                                    </div>
                                </div>


                            </div>

                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Ara</button>
                            </div>
                        </form>


                    </div>
                    <!-- /.card -->


                </div>
            </section>
        </div>
        {#            {% endif %}#}


        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary">
                    <div class="card-header with-border">
                        <h3 class="card-title">Kuşak Listesi</h3>
                    </div>
                    {% if aktif == 'Admin' %}
                        <a onclick="onay()" type="button" class="btn btn-success">
                            <i class="fa fa-edit"></i>
                            Hepsini Onayla
                        </a>
                        <a onclick="reddet()" type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            Hepsini Reddet
                        </a>

                    {% endif %}
                    <div class="card-body">

                        <table id="belt" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> Ad</th>
                                {% aktif == 'Admin' %}
                                    <th>Kulüp</th>
                                {% endif %}
                                <th> Hak Kazanma Tarihi</th>
                                <th> Branş</th>
                                <th> Tanımı</th>
                                <th> Onay Durumu</th>
                                <th> Dekont</th>
                                <th> Form</th>
                                {% if aktif == 'Admin' %}
                                    <th> İşlemler</th>
                                {% endif %}


                            </tr>
                            </thead>
                            <tbody>
                            {% if belts.all %}
                                {% for belt in belts %}
                                    <tr>

                                        <td>{{ forloop.counter }} </td>

                                        <td>

                                            <a target="_blank"> {{ belt.athlete_set.first }}</a>

                                        </td>

                                        {% if aktif == 'Admin' %}
                                            <td>{{ belt.athlete_set.first.licenses.last.sportsClub }}</td>
                                        {% endif %}
                                        <td>{{ belt.startDate }}  </td>
                                        <td>{{ belt.branch }}  </td>
                                        <td>{{ belt.definition }}  </td>
                                        <td>{{ belt.status }}  </td>
                                        <td><a href="/media/{{ belt.dekont }}" target="_blank"> <i
                                                class="fa fa-file-image-o fa-2x " style="color: red"
                                                aria-hidden="true"></i></a></td>
                                        <td><a href="/media/{{ belt.form }}" target="_blank"> <i
                                                class="fa fa-file-image-o fa-2x " style="color: red"
                                                aria-hidden="true"></i></a></td>

                                        {#                                               resim degerleri kaldırildi #}
                                        {#                                      <td><a target="_blank" href="/media/{{ belt.dekont }}"><img src="/media/{{ belt.dekont }}" class="user-image" alt="None" style=" width: 30px;height: 30px;"></a></td>#}
                                        {#                                      <td><a target="_blank" href="/media/{{ belt.form }}"><img src="/media/{{ belt.form }}" class="user-image" alt="None" style=" width: 30px;height: 30px;"></a></td>#}







                                        {% if aktif == 'Admin' %}
                                            <td>
                                                <div class="btn-group">

                                                    <a href="{% url "sbs:sporcu-kusak-listesi-onayla" belt_pk=belt.pk %}"
                                                       type="button" class="btn btn-success"><i
                                                            class="fa fa-edit"></i>Onayla
                                                    </a>


                                                    <a href="{% url "sbs:sporcu-kusak-listesi-reddet" belt_pk=belt.pk %}"
                                                       type="button" class="btn btn-danger"><i
                                                            class="fa fa-trash"></i>Reddet</a>

                                                </div>
                                            </td>
                                        {% endif %}


                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>
        $(function () {
            $('#kusak-listesi').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: "Ekle Çıkar",
                        titleAttr: 'Ekle Çıkar',
                         title: 'SBS',


                    },
                    {
                        extend: 'print',
                        title: 'SBS',
                        text: "Yazdır",
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: "Pdf",
                         title: 'SBS',
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: "Excel",
                        titleAttr: 'Excel Kaydet',
                         title: 'SBS',
                    },
                    {
                        text: 'Json',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'sbs.json'
                            );
                        }
                    }


                ],
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            })

        })
    </script>


    <script>


        $(function () {
            $('#belt').DataTable({


                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                buttons: [
                    {##}
                    {##}
                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Sporcular',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Sbs Bilgi Sistemi ',
                        {#footer: true,#}
                        exportOptions: {
                            {#     yer degisimi de yapilabilir.#}
                            columns: [0, 2, 1, 3, 4, 5]

                        },
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }


                ],
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,

            })

        });


    </script>

{% if aktif == 'Admin' %}
        <script>

            function onay() {
                var html = '';
                $("#modal-danger").on("shown.bs.modal", function (e) {
                    $("#btn-conf").click(function () {
                        $.ajax({
                            url: "{% url "sbs:sporcu-kusak-listesi-hepsinionayla"%}".replace(),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {

                                html = 'Kuşaklar başari ile onaylandı.';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "sbs:kusak-listesi"%}");

                                    });

                                }).modal('show');


                                console.log(result.status)
                            }
                        });
                    });
                }).modal('show');
                $('#btn-close').click(function () {
                    $('#modal-danger').modal('hide');
                });
            }


        </script>
        <script>


            function reddet() {

                console.log("reddet çalisti");
                var html = '';
                $("#modal-danger").on("shown.bs.modal", function (e) {
                    $("#btn-conf").click(function () {
                        $.ajax({
                            url: "{% url "sbs:sporcu-kusak-hepsinireddet"%}".replace(),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {

                                html = 'Kuşaklar basari ile reddedildi.';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "sbs:kusak-listesi"%}");

                                    });

                                }).modal('show');


                                console.log(result.status)
                            }
                        });
                    });
                }).modal('show');
                $('#btn-close').click(function () {
                    $('#modal-danger').modal('hide');
                });

            }
        </script>


    {% endif %}




{% endblock %}

