{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>








    <section class="content">


        <div class="row">
            <section class="col-lg-12 ">


                <div class="card-body">


                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Faaliyetler Filtrele</h3>
                        </div>
                        <form method="post" role="form">

                            <div class="card-body">
                                {% csrf_token %}

                                <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> {{ query.name.label }}</label>
                                        {{ query.name }}
                                    </div>
                                </div>
{#                                <div class="col-md-3">#}
{#                                    <div class="form-group">#}
{#                                        <label> {{ query.compType.label }}</label>#}
{#                                        {{ query.compType }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-3">#}
{#                                    <div class="form-group">#}
{#                                        <label> {{ query.compGeneralType.label }}</label>#}
{#                                        {{ query.compGeneralType }}#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> {{ query.startDate.label }}</label>
                                        {{ query.startDate }}
                                    </div>
                                </div>



                                    </div>


                            </div>

                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary pull-right">Ara</button>
                            </div>
                        </form>


                    </div>
                    <!-- /.card -->


                </div>
            </section>
        </div>
        <div class="row">

            <section class="col-lg-12 ">


                <div class="card-body">


                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title center-block">Faaliyetler</h3>
                        </div>
                        <div class="card-header with-border">
                            <div class="btn-group">
                                {% if aktif == 'Admin' %}
                                    <a href="{% url "sbs:faaliyet-ekle" %}"
                                       type="button" class="btn btn-success"><i
                                            class="fa fa-edit"></i> Yeni Faaliyet Ekle
                                    </a>
                                {% endif %}
                            </div>
                            {#                            <div class="btn-group">#}
                            {##}
                            {#                                    <ul class="nav nav-tabs nav-justified nav-inverse ">#}
                            {##}
                            {#            <li class=""><a href="#tab_2012" data-toggle="tab" aria-expanded="false"><strong>2012</strong></a></li>#}
                            {#            <li class=""><a href="#tab_2013" data-toggle="tab" aria-expanded="false"><strong>2013</strong></a></li>#}
                            {#			<li class=""><a href="#tab_2014" data-toggle="tab" aria-expanded="false"><strong>2014</strong></a></li>#}
                            {#			<li class=""><a href="#tab_2015" data-toggle="tab" aria-expanded="false"><strong>2015</strong></a></li>#}
                            {#			<li class=""><a href="#tab_2016" data-toggle="tab" aria-expanded="false"><strong>2016</strong></a></li>#}
                            {#			<li class=""><a href="#tab_2017" data-toggle="tab" aria-expanded="false"><strong>2017</strong></a></li>#}
                            {#			<li class="active"><a href="#tab_2017" data-toggle="tab" aria-expanded="true"><strong>2018</strong></a></li>#}
                            {#			<li class=""><a href="#tab_2019" data-toggle="tab" aria-expanded="false"><strong>2019</strong></a></li>#}
                            {#			<li class=""><a href="#tab_2020" data-toggle="tab" aria-expanded="false"><strong>2020</strong></a></li>#}
                            {#          </ul>#}
                            {##}
                            {##}
                            {#                            </div>#}
                        </div>
                        <div class="card-body">
                            <table id="musabakalar" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>İsim</th>
                                    <th>Faaliyet Yeri</th>
                                    <th>Başl. Tarihi</th>
                                    <th>Bitiş. Tarihi</th>
                                    <th>Yıl</th>
                                    <th>Türü</th>
                                    <td>işlemler</td>


                                </tr>
                                </thead>
                                <tbody>
                                {% if activity.all %}
                                    {% for competition in activity %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ competition.name }}</td>
                                            <td>{{ competition.eventPlace }}</td>
                                            <td>{{ competition.startDate | date }} </td>
                                            <td>{{ competition.finishDate | date }}</td>
                                            <td>{{ competition.year }}</td>
                                            {% if competition.type == 0 %}
                                                <td>YURT İÇİ FAALİYETLERİ</td>
                                            {% elif competition.type == 1 %}
                                                <td>YURT DIŞI FAALİYETLERİ</td>
                                            {% elif competition.type == 2 %}
                                                <td>EGİTİM FAALİYETLERİ</td>
                                            {% elif competition.type == 3 %}
                                                <td>KAMP FAALİYETLERİ</td>
                                            {% endif %}

                                            <td>
                                                <div class="btn-group">
                                                    <a href="{% url "sbs:faliyet-duzenle" competition.pk %}"
                                                       type="button" class="btn btn-warning"><i
                                                            class="fa fa-edit"></i>İncele
                                                    </a>

                                                    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}

                                                        <a class="btn btn-danger"
                                                           data-toggle="modal"
                                                           onclick=deleteCompetition({{ competition.pk }})><i
                                                                class="fa fa-trash"></i>Sil</a>
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>




                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#musabakalar').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: "Ekle Çıkar",
                        titleAttr: 'Ekle Çıkar',
                         title: 'SBS',


                    },
                    {
                        extend: 'print',
                        title: 'SBS',
                        text: "Yazdır",
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: "Pdf",
                         title: 'SBS',
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: "Excel",
                        titleAttr: 'Excel Kaydet',
                         title: 'SBS',
                    },
                    {
                        text: 'Json',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'sbs.json'
                            );
                        }
                    }


                ],
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            })

        })
    </script>

    <script>
        function deleteCompetition(id) {

            console.log(id);
            var html = ''
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "sbs:faliyet-sil" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Faaliyet Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:faaliyet" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }
    </script>







{% endblock %}

