{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}




    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-group"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Grup degişikligine emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-group"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close-group">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <section class="content-header">
        <h1>
            Kulüp Üyesi Düzenle

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Kulüp Üyesi Düzenle</a></li>

        </ol>
    </section>
    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">
{#genel bilgiler #}
                <div class="col-lg-5">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Genel Bilgiler</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="form-group">
                                        <label> {{ person_form.profileImage.label }}</label>

                                        <center>
                                            <img
                                                    src="/media/{{ person_form.instance.profileImage }}"
                                                    class="img-responsive img-bordered" alt="Resim Yok"
                                                    style=" max-width: 60%; height: auto;"

                                            ><br>
                                        </center>

                                        {{ person_form.profileImage }}
                                    </div>
                                </div>
                                <div class="col-lg-6">


                                    <div class="form-group">
                                        <label> {{ user_form.first_name.label }}</label>
                                        {{ user_form.first_name }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.motherName.label }}</label>
                                        {{ person_form.motherName }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.birthplace.label }}</label>
                                        {{ person_form.birthplace }}
                                    </div>

                                    <div class="form-group">
                                        <label style="padding-top: 16px"> {{ person_form.bloodType.label }}</label>
                                        {{ person_form.bloodType }}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ person_form.tc.label }}</label>
                                        {{ person_form.tc }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ user_form.last_name.label }}</label>
                                        {{ user_form.last_name }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.fatherName.label }}</label>
                                        {{ person_form.fatherName }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.birthDate.label }}</label>
                                        {{ person_form.birthDate }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.gender.label }}</label>
                                        {{ person_form.gender }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ sportClubUser_form.role.label }}</label>
                                        {{ sportClubUser_form.role }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>


                    </div>

                </div>



            <div class="col-lg-7">
                {#            iletişim bilgileri #}
                <div class="col-lg-12">

                    <div class="card card-info collapsed-card">


                        <div class="card-header with-border">
                            <h3 class="card-title">İLETİŞİM BİLGİLERİ</h3>

                            <div class="card-tools pull-right">
                                 <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>

                            </div>


                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: none;">


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ user_form.email.label }}</label>
                                        {{ user_form.email }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.phoneNumber.label }}</label>
                                        {{ communication_form.phoneNumber }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.phoneNumber2.label }}</label>
                                        {{ communication_form.phoneNumber2 }}
                                    </div>

                                    <div class="form-group">
                                        <label> {{ communication_form.phoneHome.label }}</label>
                                        {{ communication_form.phoneHome }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.phoneJop.label }}</label>
                                        {{ communication_form.phoneJop }}
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ communication_form.country.label }}</label>
                                        {{ communication_form.country }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.city.label }}</label>
                                        {{ communication_form.city }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.postalCode.label }}</label>
                                        {{ communication_form.postalCode }}
                                    </div>


                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> {{ communication_form.address.label }}</label>
                                        {{ communication_form.address }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> {{ communication_form.addressHome.label }}</label>
                                        {{ communication_form.addressHome }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> {{ communication_form.addressJop.label }}</label>
                                        {{ communication_form.addressJop }}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>


                </div>




            {#            nufus   bilgileri#}
            <div class="col-lg-12">

                <div class="card card-info collapsed-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">NUFUS BİLGİLERİ</h3>

                        <div class="card-tools pull-right">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label> {{ person_form.uyrukid.label }}</label>
                                    {{ person_form.uyrukid }}
                                </div>

                                <div class="form-group">
                                    <label> {{ person_form.nufus_ailesirano.label }}</label>
                                    {{ person_form.nufus_ailesirano }}
                                </div>
                                <div class="form-group">
                                    <label> {{ person_form.nufus_ciltno.label }}</label>
                                    {{ person_form.nufus_ciltno }}
                                </div>

                                <div class="form-group">
                                    <label> {{ person_form.nufus_sirano.label }}</label>
                                    {{ person_form.nufus_sirano }}
                                </div>


                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">Kaydet</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
            {#            iş  bilgileri#}
            <div class="col-lg-12">

                <div class="card card-info collapsed-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">İŞ BİLGİLERİ</h3>

                        <div class="card-tools pull-right">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label> {{ person_form.meslek.label }}</label>
                                    {{ person_form.meslek }}
                                </div>

                                <div class="form-group">
                                    <label> {{ person_form.is_unvani.label }}</label>
                                    {{ person_form.is_unvani }}
                                </div>
                                <div class="form-group">
                                    <label> {{ person_form.kurum.label }}</label>
                                    {{ person_form.kurum }}
                                </div>


                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">Kaydet</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>


            </div>


            {#            egitim   bilgileri#}
            <div class="col-lg-12">

                <div class="card card-info collapsed-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">EGİTİM BİLGİLERİ</h3>

                        <div class="card-tools pull-right">
                             <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label> {{ person_form.education.label }}</label>
                                    {{ person_form.education }}
                                </div>

                                <div class="form-group">
                                    <label> {{ person_form.mezunokul.label }}</label>
                                    {{ person_form.mezunokul }}
                                </div>


                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">Kaydet</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>


            </div>

            {#            beden bilgileri#}
            <div class="col-lg-12">


                <div class="card card-info collapsed-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">BEDEN BİLGİLERİ</h3>

                        <div class="card-tools pull-right">
                             <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">


                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label> {{ person_form.height.label }}</label>
                                    {{ person_form.height }}
                                </div>

                                <div class="form-group">
                                    <label> {{ person_form.weight.label }}</label>
                                    {{ person_form.weight }}
                                </div>

                                <div class="form-group">
                                    <label> {{ metarial_form.ayakkabi.label }}</label>
                                    {{ metarial_form.ayakkabi }}
                                </div>

                                <div class="form-group">
                                    <label> {{ metarial_form.esofman.label }}</label>
                                    {{ metarial_form.esofman }}
                                </div>

                                <div class="form-group">
                                    <label> {{ metarial_form.tshirt.label }}</label>
                                    {{ metarial_form.tshirt }}
                                </div>

                                <div class="form-group">
                                    <label> {{ metarial_form.raket.label }}</label>
                                    {{ metarial_form.raket }}
                                </div>

                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">Kaydet</button>
                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
                {#            Klup  bilgileri #}
                <div class="col-lg-12">

                    <div class="card card-info collapsed-card">
                        <div class="card-header with-border">
                            <h3 class="card-title">KLUP BİLGİLERİ</h3>

                            <div class="card-tools pull-right">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->


                        <div class="card-body">
                            <table id="kulupler" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Adı</th>
                                    <th> Kısa Adı</th>
                                    <th>İl</th>
                                    <th>Kuruluş Tarihi</th>
                                    <th>Güncelleme/Silme</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% if clubs.all %}
                                    {% for club in clubs %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ club.name }}</td>
                                            <td>{{ club.shortName }}</td>
                                            <td>{{ club.communication.city }}</td>
                                            <td>{{ club.foundingDate }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    {% if aktif == 'Admin' %}
                                                        <a href="{% url "sbs:update-club" club.pk %}"
                                                           type="button" class="btn btn-warning"><i
                                                                class="fa fa-edit"></i>Güncelle
                                                        </a>

                                                        <a class="btn btn-danger"
                                                           data-toggle="modal" onclick=deleteClub({{ club.pk }})><i
                                                                class="fa fa-trash"></i>Sil</a>
                                                    {% endif %}
                                                </div>
                                            </td>


                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    <!-- /.card -->


                    </div>


                </div>
                {#            grup bilgileri    #}
                {% if aktif == "Admin" %}
                    <div class="col-lg-12">

                        <div class="card card-info collapsed-card">
                            <div class="card-header with-border">
                                <h3 class="card-title">GRUP BİLGİLERİ</h3>

                                <div class="card-tools pull-right">
                                     <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>


                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="card-header with-border">
                                    <div class="btn-group">
                                        <div class="row">


                                            {% for group in groups %}

                                                <div class="col-md-2 ">
                                                    <div class="form-group">
                                                        <a id="group-{{ group.pk }}"
                                                           type="button" class="btn btn-block  btn-danger text-center"
                                                           id="{{ group.name }}">{{ group }}
                                                        </a>
                                                    </div>
                                                </div>

                                            {% endfor %}

                                        </div>

                                    </div>
                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>


                    </div>
                {% endif %}


            </div>

            </div>

        </form>

    </section>
    <script>
        $(function () {


            {% for group in groups %}
            $('#group-{{ group.pk }}').click(function () {
                {#alert('benden Selam olsun {{ group.name }}');#}
                $("#modal-group").on("shown.bs.modal", function (e) {
                    if (e.handled !== true) { // This will prevent event triggering more then once
                        e.handled = true;
                        $("#btn-group").click(function () {
                            window.location.replace("{% url "sbs:sporcu-aktive-group" pk=clupUser.user.pk %}?group={{ group.name }}&pk={{ clupUser.pk }}&person={{ clupUser.person.pk }}&communication={{ clupUser.communication.pk }}&user={{ clupUser.user.pk }}");
                                                        });
                                                    }

                                                }).modal('show');


                                            });

                                        {% endfor %}

                            $('#btn-close-group').click(function () {
                                $('#modal-group').modal('hide');
                            });


                            {% for group in clupUser.user.groups.all %}

                                $("#group-{{ group.pk }}").removeClass("btn-danger");
                                $("#group-{{ group.pk }}").addClass("btn-success disabled");
                                $("#group-{{ group.pk }}").text("{{ group.name }}");

            {% endfor %}



            $('#kulupler').DataTable({

                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Göster",
                            '-1': "Hepsini Göster"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                buttons: [
                    {##}
                    {##}
                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Sbs Bilgi Sistemi',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Sbs Bilgi Sistemi',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Sbs Bilgi Sistemi ',
                        {#footer: true,#}
                        exportOptions: {
                            {#     yer degisimi de yapilabilir.#}
                            columns: [0, 2, 1, 3, 4, 5]

                        },
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }


                ],
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,


            });

        })
    </script>


{% endblock %}



