{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}



    <section class="content-header">
        <h1>
            Sınav Ekle

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Sınav Ekle</a></li>

        </ol>
    </section>
    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">Genel Bilgiler</h3>
                        </div>
                        <div class="card-body">


                            <div class="form-group">
                                <label> {{ exam_form.examDate.label }}</label>
                                {{ exam_form.examDate }}
                            </div>

                            <div class="form-group">
                                <label> {{ exam_form.paymentType.label }}</label>
                                {{ exam_form.paymentType }}
                            </div>


                            <div class="form-group">
                                <label> {{ exam_form.sportClub.label }}</label>
                                {{ exam_form.sportClub }}
                            </div>

                        <div class="form-group">
                            <label> {{ exam_form.branch.label }}</label>
                            {{ exam_form.branch }}
                        </div>

                        <div class="form-group">
                            <label> {{ exam_form.dekont.label }}</label>
                            {{ exam_form.dekont }}
                        </div>

                        </div>

                        {% comment %}<div class="card-footer">
                            <a href="{% url "sbs:kusak-sinavi-ekle" athletes=athletes %}"
                               type="button" class="btn btn-success"><i
                                    class="fa fa-edit"></i> Sınav Oluştur
                            </a>
                        </div>{% endcomment %}


                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>


                    </div>

                </div>


            </div>

        </form>


    </section>

{% endblock %}



